@{
    ViewData["Title"] = "Home Page";
}


<div class="lamo" >
    <div class="jumbotron">

        <div class="container-fluid body-content">
            <div class="row">
                <button class="btn btn-group-sm pull-left">RoundTrip</button>
                <button class="btn btn-group-sm pull-left">One way</button>
                <button class="btn btn-group-sm pull-left">Many cities</button>
                <button class="dropdown-toggle btn btn-group-sm pull-right dropdown" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="True">
                    Dropdown <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>Action</li>
                    <li>Premium Employee</li>
                    <li>Business Class</li>
                </ul>
                <button class="btn btn-group-sm pull-right dropdown">1 adult<span class="caret"></span></button>
            </div>
            <div class="WTP-1"></div>
            <table class="table table-responsive">
                <tbody class="form-group-sm">
                <tr>
                    <td>
                        <input type="text" class="form-control" placeholder="From" style="text-align: left"/>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="To" style="text-align: left"/>
                    </td>
                </tr>
                <tr>
                    <td class="input-group">
                        <span class="input-group-addon">Departure Date</span>
                        <input type="text" class="form-control" placeholder="To" style="text-align: left"/>
                    </td>
                    <td class="input-group">
                        <span class="input-group-addon">Arrival Date</span>
                        <input type="text" class="form-control" placeholder="To" style="text-align: left"/>
                    </td>
                </tr>
                
                </tbody>
            </table>
            <div class="">
                <button class="btn-group-sm" style="margin-left:10px">
                        Search
                </button>
            </div>
        </div>

    </div>
</div>
